.collection-item {
    height: 300px;
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection-image {
    height: 90%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.collection-footer {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}