.form-input {
    background: none;
    color: black;
    border: none;
    border-bottom: 1px solid black;
    font-size: 20px;
    padding: 10px 10px 10px 5px;
    width: 100%;
    margin: 10px 0;
}

.form-input:focus {
    outline: none;
}

.input-group {
    position: relative;
    margin-top: 40px;
}
.form-input-label {
    position: absolute;
    top: 20px;
    left: 10px;
    transition: 450ms ease all;
}

.label-shrink {
    position: absolute;
    font-size:12px;
    top: 5px;
    left: 10px;
    color: grey;
    transition: 450ms ease all;
}