.dyna-btn {
    height: 50px;
    width: 40%;
    display: inline-block;
    border: black 2px solid;
    background-color: black;
    color: blanchedalmond;
    font-size: 15px;
    transition: ease-in 300ms;
}
.dyna-btn-google {
    border: #4c8bf5 2px solid;
    background-color: #4c8bf5;
    text-decoration: none;
}
.dyna-btn:hover {
    background-color: white;
    opacity: 0.6;
    transition: ease-in 300ms;
}

.dyna-btn-inverted {
    background-color: white;
    color: black;
}
.dyna-btn-inverted:hover {
    border: black 2px solid;
    background-color: black;
}
